#head {
	color:  #001a4d;
  padding-top: 100px;
}

#sub{
  color: #8585ad;
  padding-top: 30px;
  font: 20px arial;
}

p{
  color: #8585ad;
  padding-top: 40px;
  margin-left: 2cm;
  margin-right: 2cm;
}

h2{
  color:  #001a4d;
}

h3{
  color:  #001a4d;
  margin-left: 2cm;
  margin-right: 2cm;
}